 Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log
.env
.env.*
!.env.example

# Vite
dist/
.cache/
.vitepress/dist
.vitepress/cache
.svelte-kit/

# React
*.log
*.tgz
coverage/
*.tsbuildinfo
.eslintcache
.stylelintcache
.next/
out/
.cache/
.parcel-cache/

# VSCode
.vscode/

# OS + Runtime
.DS_Store
Thumbs.db
*.pid
*.seed
*.pid.lock
