version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: api
    restart: unless-stopped
    env_file:
      - ./backend/.env.docker
    depends_on:
      - mongo
    ports:
      - "5000:5000"
    volumes:
      - ./backend/uploads:/usr/src/app/uploads

  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: web
    restart: unless-stopped
    environment:
      - REACT_APP_API_URL=http://localhost:5000/api
    depends_on:
      - api
    ports:
      - "3000:80"

volumes:
  mongo_data:
